html {
	font-family: ubuntu, sans-serif;
}

@font-face {
	font-family: ubuntu;
	src: url("../fonts/Ubuntu-Medium.ttf");
}
body {
	background-image: url("../pictures/background.jpg");
	background-size: cover;
}

h1	{
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

p {
	font-size: 20px;
}

div {
	background-color:rgba(255, 255, 255, 0.5);
}
