@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Regular.ttf");
}
body {
	background-image: url("../pictures/background.jpg");
	background-size: cover;
	font-family: 'Ubuntu', Arial, sans-serif;
}

h1	{
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

p {
	font-size: 18px;
}

div {
	background-color:rgba(255, 255, 255, 0.5);
	padding: 5px 5px 10px 20px;
	margin: 5px 0px,5px 0px;
	border-radius: 20px;
	background-size: cover;
}

.icon {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding: 3px;
}

.profile {
	padding-top: 15px;
	width: 192px;
	height: 192px;
	border-radius: 50%;
}